.site-footer {
  padding-top: 0;
  overflow: hidden;
	clip-path: none;
}

.footer {
	background-color: var(--color-dark-blue);
	color: var(--color-white);
}

.footer .block-title {
  font-weight: 300;
  font-size: 1.4rem;
}

.website-copyright {
	font-family: var(--primary-font);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.15px;
}

.footer-bottom-container {
  padding: 2rem 0;
}

.footer a {
  color: var(--color-text);
}

.footer a:hover {
  color: var(--primary);
}

.social-icons {
  position: relative;
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.social-icons li {
  padding: 0;
}

.social-icons li a {
  color: var(--color-black);
	background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.social-icons li a:hover {
  background-color: var(--primary);
	color: var(--light);
}